<div class="container">
  <h2>About Compponent</h2>
</div>
<div id="contact">
  <div id="con-icon" >
  <!--add img -->  
  </div>
  <div id="con-info" ><p><b>Contact Number: </b> + (100)-(987)-6132</p>
  </div>
</div>
<div id="helpline">
  <div id="help-icon">
    <!--add img-->
  </div>
  <div id="helpline-info"><p><b>Help Line: </b></p><a href="">www.glamera.com/customer-support</a></div>
</div>
<div id="address">
  <div id="location-icon">
    <!--add img-->
  </div>
  <div id="address-info"><p><b>Address: </b> 1-32/B-DC, Banjara Hills, Hyderabad, Telangana, 502156</p></div>
</div>