#contact{
    border: 2px solid rgb(190, 4, 4);
    margin-top:20px;
    border-width: 3px;
}
#helpline{

    border: 2px solid rgb(190, 4, 4);
    margin-top:2px;
    border-width: 3px;

}
#address{
    border: 2px solid rgb(190, 4, 4);
    margin-top:2px;
    border-width: 3px;

}
